<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<!--выведем всех людей -->
<div th:each="pers : ${people}">
    <!--сделаем ссылку для каждого человека -->
    <a th:href="@{/people/{id}(id=${pers.getId()})}"
       th:text="${pers.getName() + ', ' + pers.getAge()}">user</a>
</div>
<br/>
<hr/> <!--<hr/> создает горизонтальную линию -->
<!--саздадим ссылку для перехода на создания нового человека -->
<a href="/people/new">create new person</a>
</body>
</html>